.title {
	margin: 0%;
	color: whitesmoke;
}

.form-container {
	padding: 2em;
	padding-bottom: 1em;
	background-color: #2C2F33;
	color: lightgray;
	border-radius: 1em;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

form {
	text-align: center;
}

.form-group {
	margin-bottom: 0.5em;
}

input[type="text"], input[type="password"] {
	font-family: inherit;
	outline: 0;
	color: white;
	display: inline-block;
	width: 80%;
	padding: 8px 12px 9px 12px;
	border: 1px solid rgba(0, 0, 0, .1);
	background: #23272A;
}

::-ms-reveal {
	filter: invert(100%);
}

.btn-group {
	font-size: 0;
	text-align: center;
}

.btn {
	border: none;
	background-color: #404EED;
	color: white;
	margin-top: .7em;
	margin-bottom: .4em;
	padding: 0.7em;
	min-width: 8em;
	text-align: center;
	font-size: 15px;
	transition: 0.3s;
	cursor: pointer;
	border-radius: 0px;
}

.btn:first-child {
	border-top-left-radius: 18px;
	border-bottom-left-radius: 18px;
}

.btn:last-child {
	border-top-right-radius: 18px;
	border-bottom-right-radius: 18px;
}

.btn:hover {
	background-color: #5865F2;
	color: white;
	box-shadow: rgba(0, 0, 0, .35) 0px 0px 20px;
}

.link-box {
	margin-top: 1em;
	margin-bottom: 0.7em;
	text-align: center;
}

a {
	color: #5865F2;
}

a:hover {
	color: #738ADB;
}