body {
	margin: 0%;
	background-color: #738ADB;
	font-family: 'Segoe UI';
}

header {
	grid-area: h;
}

main {
	grid-area: m;
}

.wrapper {
	display: grid;
	row-gap: 1em;
	grid-template-areas: "h h h" ". . ." ". m .";
}

@media (min-width: 576px) {
	.wrapper {
		grid-template-areas: "h h h h h" ". . . . ." ". . m . .";
	}
}

@media (min-width: 768px) {
	.wrapper {
		grid-template-areas: "h h h h h h h" ". . . . . . ." ". . . m . . .";
	}
}

.box {
	padding: 2em;
	background-color: #2C2F33;
	color: lightgray;
	border-radius: 3%;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}